<h2> Manage tags for items </h2>

<p> Tags are used to organize items for the pot luck. Some typical tags are: vegan, gluten-free, dessert, alcohol, etc. </p>

<h3> Current tags: </h3>

<ul>
<% @tags.each do |tag| %>

<li> <%= tag.name  %> </li>
  <% end %>

</ul>

<form action="/tags" method="post">
  <input type="text" name="tag">
  <label>Add new tag: </label><button class="btn btn-success">Create</button>
</form>